.advantages__list {
  margin-bottom: calc(-1 * var(--card-set-gap));

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * var(--card-set-gap));
    margin-bottom: calc(-1 * var(--card-set-gap));
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    margin-right: calc(-1 * var(--card-set-gap));
  }
}

.advantages__item {
  margin-bottom: var(--card-set-gap);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * var(--card-set-gap)) / 2);
    margin-bottom: var(--card-set-gap);
    margin-right: var(--card-set-gap);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 4 * var(--card-set-gap)) / 4);
    margin-right: var(--card-set-gap);
  }
}

.advantages__container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  margin-bottom: 30px;

  background-color: var(--background-main);
}

.advantages__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  text-transform: uppercase;
  color: var(--secondary-title-color);

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.advantages__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
