.team {
  background-color: var(--background-main);
}

.team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    margin: 0;
  }
}

.team-list__members {
  background-color: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: var(--card-set-gap);          
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc(100% / 2 - var(--card-set-gap);
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: var(--card-set-gap);          
    }
  }
}

.team-list__text {
  padding-top: 30px;
  padding-bottom: 30px;

  border: 1px solid #eeeeee;
  border-top: none;
}

.team-list__names {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.team-list__position {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
