.open-menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  .container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 40px;
    padding-left: 40px;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

// .menu-top {
//   position: relative;
// }

.close-menu-button {
  position: absolute;
  display: block;
  top: 17px;
  right: 11px;
  border: none;
  background-color: transparent;
  &:hover,
  &:focus {
    fill: var(--accent-color);
    outline: none;
  }
}

.menu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: #212121;

  &:not(:last-child) {
    margin-bottom: 36px;
  }
}

.contacts__list {
  margin-bottom: 64px;
}

.contacts__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.contacts__mail {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: #2196f3;
  @media screen and (max-width: 368px) {
    font-size: 28px;
  }
}

.contacts__phone {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: #757575;
}

.menu-social__item {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  margin-right: 10px;

  color: #2196f3;

  @media screen and (min-width: 480px) {
    &:not(:first-child) {
      margin-left: 10px;
    }

    &:not(:last-child) {
      &::after {
        content: '';

        position: absolute;
        padding-bottom: 0;
        margin-left: 10px;

        width: 1px;
        height: 100%;
        border: 1px solid rgba(33, 33, 33, 0.2);
      }
    }
  }
}

.menu-social__list {
  @media screen and (min-width: 480px) {
    display: flex;
    justify-content: flex-start;
  }
}

.menu__link,
.menu-social__link {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
