:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #212121;
  --general-text-color: #757575;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --back-color: #2f303a;
  --card-set-gap: 30px;
  --background-main: #f5f4fa;
  --fill-color: #afb1b8;
  --cubic-accent: cubic-bezier(0.4, 0, 0.2, 1);
}
